<div class="border mt-2">.
    <div class="row">
        <h3 class="text-primary pl-4 pt-2 col-12">Child of a ChildComponent</h3>
        <br />
        <p class="pl-4 ml-2">There is a Message - @messageforgrandchild</p>
    </div>
    <div class="row">
        <p class="pl-4 ml-2">Lucky Number - @LuckyNumberFromGrandParent</p>
    </div>
</div>
@code {
    /*[Parameter]*/
    [CascadingParameter(Name ="MessageFromGP")]
    public string messageforgrandchild { get; set; }
    [CascadingParameter(Name ="LNFromGP")]
    public int LuckyNumberFromGrandParent { get; set; }
}
