<h3 class="text-primary pl-4 pt-2">Child of a ChildComponent</h3>
<br />
<p>There is a Message - @messageforgrandchild</p>
@code {
    [Parameter]
    public string messageforgrandchild { get; set; }
}
