@page "/HotelDemo"

<h3> We will display hotel rooms and amenities here!</h3>
<div class="border p-2 mt-2" style="background-color:azure">
	<h2 class="text-info"> Room List [USING COMPONENT]</h2>
	<div class="row container">
		<div class="col-12">
			<h4 class="text-info">Hotel Room's</h4>
			<span>Rooms Selected - @RoomsSelected</span>
		</div>
		@foreach(var Room in RoomsList)
		{
			<RoomComponent OnRoomCheckBoxSelection="RoomSelectionCounterChanged" Room="@Room"></RoomComponent>			
		}
		<div class="col-12 mt-4">
			<h4 class="text-info">Hotel Amenities[assinment]</h4>
		</div>
		@foreach(var Amenity in AmenityList)
		{
			<AmenityComponent OnAmenitySelection="AmenitySelectionChanged" Amenity="@Amenity">
				<FirstFragment>#1</FirstFragment>
				<SecondFragment>#2</SecondFragment>
			</AmenityComponent>
		}		
	</div>
	<div class="col-12">
		<p class="text-secondary"> Selected Amenity : @SelectedAmenity</p>
	</div>
</div>
@code
{
	public int RoomsSelected = 0;
	public string SelectedAmenity { get; set; } = "";
	List<BlazorRoom> RoomsList = new List<BlazorRoom>();
	List<BlazorAmenities> AmenityList = new List<BlazorAmenities>();
	protected override void OnInitialized()
	{
		base.OnInitialized();
		RoomsList.Add(new BlazorRoom()
		{
			Id = 1,
			RoomName = "Suite1",
			IsActive = true,
			Price = 499,
			RoomProps = new List<RoomProperites>
			{
				new RoomProperites{Id=1, Name="Footage", Value ="100"},
				new RoomProperites{Id=2, Name="Occupancy", Value ="3"}
			}

		});
		RoomsList.Add(new BlazorRoom()
		{
			Id = 2,
			RoomName = "Suit2",
			IsActive = true,
			Price = 1009,
			RoomProps = new List<RoomProperites>
			{
				new RoomProperites{Id=1, Name="Footage", Value ="200"},
				new RoomProperites{Id=2, Name="Occupancy", Value ="6"}
			}

		});

		AmenityList.Add(new BlazorAmenities()
		{
			Id = 1,
			Name = "Gym",
            Description = "24X7 Gym"			
		});
		AmenityList.Add(new BlazorAmenities()
		{
			Id = 2,
			Name = "Pool",
            Description = "There is an indoor pool open from 6pm till 10am"			
		});
		AmenityList.Add(new BlazorAmenities()
		{
			Id = 3,
			Name = "Free Breakfast",
            Description = "Nom nom in da' morning, nom nom till you be full Yo!"			
		});
	}

	protected void RoomSelectionCounterChanged(bool isRoomSelected)
	{
		if (isRoomSelected)
		{
			RoomsSelected++;
		}
		else
		{
			RoomsSelected--;
		}
	}

	protected void AmenitySelectionChanged(string AmenityName)
	{
		SelectedAmenity = AmenityName;
	}
}